<!DOCTYPE html>
<html>
    <head>
        <link href="apply.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>Create User</h2>
            </div>
            <form class="form">
                <div class="form-control">
                    <lable for="firstName" name="firstName">First Name</lable>
                    <input id="txtfirstName" type="text" name="firstName" />
                    <small>Error Message</small>
                </div>
                <form class="form">
                    <div class="form-control">
                        <lable for="LastName" name="lastName">Last Name</lable>
                        <input id="txtLastName" type="text" name="LastName" />
                        <small>Error Message</small>
                    </div>
                    <form class="form">
                        <div class="form-control">
                            <lable for="middleName" name="middleName">Middle Name</lable>
                            <input id="txtmiddleName" type="text" name="middleName" />
                            <small>Error Message</small>
                        </div>
                <div class="form-control">
                    <lable for="email" name="email">Email</lable>
                    <input id="txtEmail" type="email" name="email" />
                    <small>Error Message</small>
                </div>
                <div class="form-control">
                    <lable for="pwd" name="pwd">Password</lable>
                    <input id="txtPwd" type="password" name="pwd" />
                    <small>Error Message</small>
                </div>
                <div class="form-control">
                    <lable for="conpwd" name="conpwd">Confirm Password</lable>
                    <input id="txtConPwd" type="password" name="conpwd" />
                    <small>Error Message</small>
                </div>
                <div class="form-control">
                    <button>Register</button>
                </div>
                <form class="form">
                    <div class="form-control">
                        <lable for="birthDate" name="birthDate">Birth Date</lable>
                        <input id="txtbirthDate" type="text" name="birthDate" />
                        <small>Error Message</small>
                    </div>
                    <form class="form">
                        <div class="form-control">
                            <lable for="Nationality" name="Nationality">Nationality</lable>
                            <input id="txtNationality" type="text" name="Nationality" />
                            <small>Error Message</small>
                        </div>
                        <form class="form">
                            <div class="form-control">
                                <lable for="City" name="City">City</lable>
                                <input id="txtCity" type="text" name="City" />
                                <small>Error Message</small>
                            </div>
                            <form class="form">
                                <div class="form-control">
                                    <lable for="buildingNo" name="buildingNo">Building Number</lable>
                                    <input id="txtbuildingNo" type="text" name="buildingNo" />
                                    <small>Error Message</small>
                                </div>
                                <form class="form">
                                    <div class="form-control">
                                        <lable for="streetName" name="streetName">Street Name</lable>
                                        <input id="txtstreetName" type="text" name="streetName" />
                                        <small>Error Message</small>
                                    </div>
                                
            </form>
        </div>
        <script src="apply.js"></script>
    </body>
</html>